/* Break Points */
html,
body {
  height: 100%;
  background-color: #202529;
position: relative;
font-size: 16px;
}

.menu_icon {
  width: 40px;
  height: 40px;
}

.screen {
  width: 100%;
  height: 100%;
  display: table; }

.time-display {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

@media only screen and (max-width: 3839px) {
  .digit:not(:last-of-type) {
    margin-right: 31.5px; }

  .digit {
    width: 192px;
    height: 378px;
    display: block;
    position: relative;
    float: left; }

  .digit .segment {
    background: transparent;
    border-radius: 150px;
    position: absolute;
    z-index: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

  .digit .on {
    background: #34BEEF; }

  .digit .horizontal {
    width: 150px;
    height: 21px; }

  .digit .vertical {
    width: 21px;
    height: 157.5px; }

  .digit .a {
    top: 0;
    left: 21px; }

  .digit .a:before,
  .digit .a:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0; }

  .digit .a:before {
    left: -11px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 21px solid transparent; }

  .digit .a:after {
    right: -11px;
    border-right: 11px solid transparent;
    border-left: 11px solid transparent;
    border-bottom: 21px solid transparent; }

  .digit .b {
    top: 21px;
    right: 0; }

  .digit .b:before,
  .digit .b:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0; }

  .digit .b:before {
    top: -11px;
    border-bottom: 11px solid transparent;
    border-left: 21px solid transparent;
    border-top: 11px solid transparent; }

  .digit .b:after {
    bottom: -11px;
    border-top: 11px solid transparent;
    border-left: 21px solid transparent;
    border-bottom: 11px solid transparent; }

  .digit .c {
    top: 199.5px;
    right: 0; }

  .digit .c:before,
  .digit .c:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0; }

  .digit .c:before {
    top: -11px;
    border-bottom: 11px solid transparent;
    border-left: 21px solid transparent;
    border-top: 11px solid transparent; }

  .digit .c:after {
    bottom: -11px;
    border-top: 11px solid transparent;
    border-left: 21px solid transparent;
    border-bottom: 11px solid transparent; }

  .digit .d {
    bottom: 0;
    left: 21px; }

  .digit .d:before,
  .digit .d:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0; }

  .digit .d:before {
    left: -11px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 21px solid transparent; }

  .digit .d:after {
    right: -11px;
    border-right: 11px solid transparent;
    border-left: 11px solid transparent;
    border-top: 21px solid transparent; }

  .digit .e {
    top: 199.5px;
    left: 0; }

  .digit .e:before,
  .digit .e:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0; }

  .digit .e:before {
    top: -11px;
    border-bottom: 11px solid transparent;
    border-right: 21px solid transparent;
    border-top: 11px solid transparent; }

  .digit .e:after {
    bottom: -11px;
    border-top: 11px solid transparent;
    border-right: 21px solid transparent;
    border-bottom: 11px solid transparent; }

  .digit .f {
    top: 21px;
    left: 0; }

  .digit .f:before,
  .digit .f:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0; }

  .digit .f:before {
    top: -11px;
    border-bottom: 11px solid transparent;
    border-right: 21px solid transparent;
    border-top: 11px solid transparent; }

  .digit .f:after {
    bottom: -11px;
    border-top: 11px solid transparent;
    border-right: 21px solid transparent;
    border-bottom: 11px solid transparent; }

  .digit .g {
    top: 178.5px;
    left: 21px; }

  .digit .g:before,
  .digit .g:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0; }

  .digit .g:before {
    left: 0;
    border-right: 11px solid transparent;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent; }

  .digit .g:after {
    right: 0;
    border-left: 11px solid transparent;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent; }

  .hours,
  .minutes,
  .seconds {
    display: inline-block;
    overflow: auto;
    text-align: center; }

  .separator {
    width: 21px;
    height: 378px;
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0 42px; }

  .separator .dot {
    background: transparent;
    width: 21px;
    height: 21px;
    border-radius: 21px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute; }

  .separator .dot.on {
    background: #34BEEF; }

  .separator .dot:first-of-type {
    top: 33%; }

  .separator .dot:last-of-type {
    top: 66%; } }
@media only screen and (max-width: 1519px) {
  .digit:not(:last-of-type) {
    margin-right: 27px; }

  .digit {
    width: 156px;
    height: 306px;
    display: block;
    position: relative;
    float: left; }

  .digit .segment {
    background: transparent;
    border-radius: 120px;
    position: absolute;
    z-index: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

  .digit .on {
    background: #34BEEF; }

  .digit .horizontal {
    width: 120px;
    height: 18px; }

  .digit .vertical {
    width: 18px;
    height: 126px; }

  .digit .a {
    top: 0;
    left: 18px; }

  .digit .a:before,
  .digit .a:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0; }

  .digit .a:before {
    left: -9px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 18px solid transparent; }

  .digit .a:after {
    right: -9px;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    border-bottom: 18px solid transparent; }

  .digit .b {
    top: 18px;
    right: 0; }

  .digit .b:before,
  .digit .b:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0; }

  .digit .b:before {
    top: -9px;
    border-bottom: 9px solid transparent;
    border-left: 18px solid transparent;
    border-top: 9px solid transparent; }

  .digit .b:after {
    bottom: -9px;
    border-top: 9px solid transparent;
    border-left: 18px solid transparent;
    border-bottom: 9px solid transparent; }

  .digit .c {
    top: 162px;
    right: 0; }

  .digit .c:before,
  .digit .c:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0; }

  .digit .c:before {
    top: -9px;
    border-bottom: 9px solid transparent;
    border-left: 18px solid transparent;
    border-top: 9px solid transparent; }

  .digit .c:after {
    bottom: -9px;
    border-top: 9px solid transparent;
    border-left: 18px solid transparent;
    border-bottom: 9px solid transparent; }

  .digit .d {
    bottom: 0;
    left: 18px; }

  .digit .d:before,
  .digit .d:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0; }

  .digit .d:before {
    left: -9px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 18px solid transparent; }

  .digit .d:after {
    right: -9px;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    border-top: 18px solid transparent; }

  .digit .e {
    top: 162px;
    left: 0; }

  .digit .e:before,
  .digit .e:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0; }

  .digit .e:before {
    top: -9px;
    border-bottom: 9px solid transparent;
    border-right: 18px solid transparent;
    border-top: 9px solid transparent; }

  .digit .e:after {
    bottom: -9px;
    border-top: 9px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 9px solid transparent; }

  .digit .f {
    top: 18px;
    left: 0; }

  .digit .f:before,
  .digit .f:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0; }

  .digit .f:before {
    top: -9px;
    border-bottom: 9px solid transparent;
    border-right: 18px solid transparent;
    border-top: 9px solid transparent; }

  .digit .f:after {
    bottom: -9px;
    border-top: 9px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 9px solid transparent; }

  .digit .g {
    top: 144px;
    left: 18px; }

  .digit .g:before,
  .digit .g:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0; }

  .digit .g:before {
    left: 0;
    border-right: 9px solid transparent;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent; }

  .digit .g:after {
    right: 0;
    border-left: 9px solid transparent;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent; }

  .hours,
  .minutes,
  .seconds {
    display: inline-block;
    overflow: auto;
    text-align: center; }

  .separator {
    width: 18px;
    height: 306px;
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0 36px; }

  .separator .dot {
    background: transparent;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute; }

  .separator .dot.on {
    background: #34BEEF; }

  .separator .dot:first-of-type {
    top: 33%; }

  .separator .dot:last-of-type {
    top: 66%; } }
@media only screen and (max-width: 1259px) {
  .digit:not(:last-of-type) {
    margin-right: 22.5px; }

  .digit {
    width: 110px;
    height: 205px;
    display: block;
    position: relative;
    float: left; }

  .digit .segment {
    background: transparent;
    border-radius: 80px;
    position: absolute;
    z-index: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

  .digit .on {
    background: #34BEEF; }

  .digit .horizontal {
    width: 80px;
    height: 15px; }

  .digit .vertical {
    width: 15px;
    height: 80px; }

  .digit .a {
    top: 0;
    left: 15px; }

  .digit .a:before,
  .digit .a:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0; }

  .digit .a:before {
    left: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid transparent; }

  .digit .a:after {
    right: -8px;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 15px solid transparent; }

  .digit .b {
    top: 15px;
    right: 0; }

  .digit .b:before,
  .digit .b:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0; }

  .digit .b:before {
    top: -8px;
    border-bottom: 8px solid transparent;
    border-left: 15px solid transparent;
    border-top: 8px solid transparent; }

  .digit .b:after {
    bottom: -8px;
    border-top: 8px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 8px solid transparent; }

  .digit .c {
    top: 110px;
    right: 0; }

  .digit .c:before,
  .digit .c:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0; }

  .digit .c:before {
    top: -8px;
    border-bottom: 8px solid transparent;
    border-left: 15px solid transparent;
    border-top: 8px solid transparent; }

  .digit .c:after {
    bottom: -8px;
    border-top: 8px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 8px solid transparent; }

  .digit .d {
    bottom: 0;
    left: 15px; }

  .digit .d:before,
  .digit .d:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0; }

  .digit .d:before {
    left: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 15px solid transparent; }

  .digit .d:after {
    right: -8px;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 15px solid transparent; }

  .digit .e {
    top: 110px;
    left: 0; }

  .digit .e:before,
  .digit .e:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0; }

  .digit .e:before {
    top: -8px;
    border-bottom: 8px solid transparent;
    border-right: 15px solid transparent;
    border-top: 8px solid transparent; }

  .digit .e:after {
    bottom: -8px;
    border-top: 8px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 8px solid transparent; }

  .digit .f {
    top: 15px;
    left: 0; }

  .digit .f:before,
  .digit .f:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0; }

  .digit .f:before {
    top: -8px;
    border-bottom: 8px solid transparent;
    border-right: 15px solid transparent;
    border-top: 8px solid transparent; }

  .digit .f:after {
    bottom: -8px;
    border-top: 8px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 8px solid transparent; }

  .digit .g {
    top: 95px;
    left: 15px; }

  .digit .g:before,
  .digit .g:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0; }

  .digit .g:before {
    left: 0;
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; }

  .digit .g:after {
    right: 0;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; }

  .hours,
  .minutes,
  .seconds {
    display: inline-block;
    overflow: auto;
    text-align: center; }

  .separator {
    width: 15px;
    height: 205px;
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0 30px; }

  .separator .dot {
    background: transparent;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute; }

  .separator .dot.on {
    background: #34BEEF; }

  .separator .dot:first-of-type {
    top: 33%; }

  .separator .dot:last-of-type {
    top: 66%; } }
@media only screen and (max-width: 929px) {
  .digit:not(:last-of-type) {
    margin-right: 12px; }

  .digit {
    width: 56px;
    height: 104px;
    display: block;
    position: relative;
    float: left; }

  .digit .segment {
    background: transparent;
    border-radius: 40px;
    position: absolute;
    z-index: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

  .digit .on {
    background: #34BEEF; }

  .digit .horizontal {
    width: 40px;
    height: 8px; }

  .digit .vertical {
    width: 8px;
    height: 40px; }

  .digit .a {
    top: 0;
    left: 8px; }

  .digit .a:before,
  .digit .a:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0; }

  .digit .a:before {
    left: -4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid transparent; }

  .digit .a:after {
    right: -4px;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 8px solid transparent; }

  .digit .b {
    top: 8px;
    right: 0; }

  .digit .b:before,
  .digit .b:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0; }

  .digit .b:before {
    top: -4px;
    border-bottom: 4px solid transparent;
    border-left: 8px solid transparent;
    border-top: 4px solid transparent; }

  .digit .b:after {
    bottom: -4px;
    border-top: 4px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 4px solid transparent; }

  .digit .c {
    top: 56px;
    right: 0; }

  .digit .c:before,
  .digit .c:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0; }

  .digit .c:before {
    top: -4px;
    border-bottom: 4px solid transparent;
    border-left: 8px solid transparent;
    border-top: 4px solid transparent; }

  .digit .c:after {
    bottom: -4px;
    border-top: 4px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 4px solid transparent; }

  .digit .d {
    bottom: 0;
    left: 8px; }

  .digit .d:before,
  .digit .d:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0; }

  .digit .d:before {
    left: -4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid transparent; }

  .digit .d:after {
    right: -4px;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 8px solid transparent; }

  .digit .e {
    top: 56px;
    left: 0; }

  .digit .e:before,
  .digit .e:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0; }

  .digit .e:before {
    top: -4px;
    border-bottom: 4px solid transparent;
    border-right: 8px solid transparent;
    border-top: 4px solid transparent; }

  .digit .e:after {
    bottom: -4px;
    border-top: 4px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 4px solid transparent; }

  .digit .f {
    top: 8px;
    left: 0; }

  .digit .f:before,
  .digit .f:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0; }

  .digit .f:before {
    top: -4px;
    border-bottom: 4px solid transparent;
    border-right: 8px solid transparent;
    border-top: 4px solid transparent; }

  .digit .f:after {
    bottom: -4px;
    border-top: 4px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 4px solid transparent; }

  .digit .g {
    top: 48px;
    left: 8px; }

  .digit .g:before,
  .digit .g:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0; }

  .digit .g:before {
    left: 0;
    border-right: 4px solid transparent;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent; }

  .digit .g:after {
    right: 0;
    border-left: 4px solid transparent;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent; }

  .hours,
  .minutes,
  .seconds {
    display: inline-block;
    overflow: auto;
    text-align: center;
    white-space: nowrap; }

  .separator {
    width: 8px;
    height: 104px;
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0 16px;
    white-space: nowrap; }

  .separator .dot {
    background: transparent;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute; }

  .separator .dot.on {
    background: #34BEEF; }

  .separator .dot:first-of-type {
    top: 33%; }

  .separator .dot:last-of-type {
    top: 66%; } }
@media only screen and (max-width: 500px) {
  .digit:not(:last-of-type) {
    margin-right: 6px; }

  .digit {
    width: 24px;
    height: 44px;
    display: block;
    position: relative;
    float: left; }

  .digit .segment {
    background: transparent;
    border-radius: 16px;
    position: absolute;
    z-index: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

  .digit .on {
    background: #34BEEF; }

  .digit .horizontal {
    width: 16px;
    height: 4px; }

  .digit .vertical {
    width: 4px;
    height: 16px; }

  .digit .a {
    top: 0;
    left: 4px; }

  .digit .a:before,
  .digit .a:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0; }

  .digit .a:before {
    left: -2px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 4px solid transparent; }

  .digit .a:after {
    right: -2px;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    border-bottom: 4px solid transparent; }

  .digit .b {
    top: 4px;
    right: 0; }

  .digit .b:before,
  .digit .b:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0; }

  .digit .b:before {
    top: -2px;
    border-bottom: 2px solid transparent;
    border-left: 4px solid transparent;
    border-top: 2px solid transparent; }

  .digit .b:after {
    bottom: -2px;
    border-top: 2px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 2px solid transparent; }

  .digit .c {
    top: 24px;
    right: 0; }

  .digit .c:before,
  .digit .c:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0; }

  .digit .c:before {
    top: -2px;
    border-bottom: 2px solid transparent;
    border-left: 4px solid transparent;
    border-top: 2px solid transparent; }

  .digit .c:after {
    bottom: -2px;
    border-top: 2px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 2px solid transparent; }

  .digit .d {
    bottom: 0;
    left: 4px; }

  .digit .d:before,
  .digit .d:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0; }

  .digit .d:before {
    left: -2px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 4px solid transparent; }

  .digit .d:after {
    right: -2px;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    border-top: 4px solid transparent; }

  .digit .e {
    top: 24px;
    left: 0; }

  .digit .e:before,
  .digit .e:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0; }

  .digit .e:before {
    top: -2px;
    border-bottom: 2px solid transparent;
    border-right: 4px solid transparent;
    border-top: 2px solid transparent; }

  .digit .e:after {
    bottom: -2px;
    border-top: 2px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 2px solid transparent; }

  .digit .f {
    top: 4px;
    left: 0; }

  .digit .f:before,
  .digit .f:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0; }

  .digit .f:before {
    top: -2px;
    border-bottom: 2px solid transparent;
    border-right: 4px solid transparent;
    border-top: 2px solid transparent; }

  .digit .f:after {
    bottom: -2px;
    border-top: 2px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 2px solid transparent; }

  .digit .g {
    top: 20px;
    left: 4px; }

  .digit .g:before,
  .digit .g:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0; }

  .digit .g:before {
    left: 0;
    border-right: 2px solid transparent;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent; }

  .digit .g:after {
    right: 0;
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent; }

  .hours,
  .minutes,
  .seconds {
    display: inline-block;
    overflow: auto;
    text-align: center;
    white-space: nowrap; }

  .separator {
    width: 4px;
    height: 44px;
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0 8px;
    white-space: nowrap; }

  .separator .dot {
    background: transparent;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute; }

  .separator .dot.on {
    background: #34BEEF; }

  .separator .dot:first-of-type {
    top: 33%; }

  .separator .dot:last-of-type {
    top: 66%; } }
/*Material Card*/
.m-card {
  position: relative;
  overflow: hidden;
  margin: 3em auto 1em auto;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  max-width: 450px;
  z-index: 1; }

.m-card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.m-card h1 {
  border-bottom: 1px solid #311b92; }

.m-card h1 #because {
  font-size: 0.35em;
  text-align: center;
  display: block;
  margin-bottom: 0.5em;
  font-weight: 300; }

.m-card #logo {
  max-width: 300px;
  margin: 0 auto;
  display: block; }

.m-card h5 {
  margin: 0.5em 0 0.7em; }

.m-card #file-upload-container {
  cursor: pointer;
  border: 3px dashed #311b92;
  display: block;
  width: 100%;
  height: 200px;
  border-radius: 25px;
  text-align: center; }

.m-card #file-upload-container input {
  display: none; }

.m-card #file-upload-container #add-symbol {
  display: block;
  margin: 0 auto;
  height: 70%;
  fill: #616161;
  max-width: 40px; }

.m-card #file-upload-container #add-symbol:hover {
  fill: #311b92; }

.m-card #file-upload-container #file-name {
  display: block;
  margin: 0 auto;
  color: #616161;
  max-width: 90%;
  word-break: break-all; }

.m-card #file-upload-container .file-added {
  color: #212121 !important; }

.m-card #file-upload-container:hover #add-symbol {
  fill: #311b92; }

.m-card button {
  width: 100%;
  padding-top: 1.3em; }

.m-card button #upload-symbol {
  fill: #311b92;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  max-width: 36px;
  max-height: 36px;
  display: inline;
  vertical-align: middle;
  margin-top: -4px; }

.m-card button span {
  display: inline-block; }

.m-card button:hover #upload-symbol {
  fill: #fff; }

.m-card button:hover #upload-symbol #arrow {
  top: -12px; }

.m-card button.disabled {
  pointer-events: none;
  cursor: default;
  color: #616161;
  border-color: #616161;
  background: #eeeeee; }

.m-card button.disabled #upload-symbol {
  fill: #616161; }

.m-card .how-to {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 1em;
  padding: 0.75em 0;
  font-weight: 300;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }

.m-card .how-to:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

.m-card #how-to {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0 !important;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 3;
  padding: 1em;
  display: none; }

.m-card #how-to h3 {
  border-bottom: 1px solid #212121;
  padding-bottom: 0.25em; }

.m-card #how-to #close {
  position: absolute;
  top: 1em;
  right: 1em; }

.m-card #how-to #close #close-symbol {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  max-width: 20px;
  max-height: 20px;
  fill: #616161; }

.m-card #how-to #close:hover #close-symbol {
  fill: #311b92; }

.m-card .step {
  float: left;
  width: 100%; }

.m-card .step img {
  max-width: 120px;
  display: block;
  float: left;
  margin-right: 0.5em;
  border: 1px solid #212121; }

.m-card .step h6 {
  margin-bottom: 0.5em; }

.m-card #upload-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 4;
  padding: 1em;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease; }

.m-card #upload-animation h3 {
  margin-bottom: 0px; }

.m-card #upload-animation.show {
  opacity: 1; }

iframe {
  height: 10%;
  width: 20%;
  position: absolute;
  right: 0; }

.mdl-grid {
  max-width: 960px; }

.mdl-card__media {
  margin: 0; }

.mdl-card__media > img {
  max-width: 100%; }

.mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center; }

.mdl-card__actions > .mdl-button--icon {
  margin-right: 3px;
  margin-left: 3px; }

.picture {
  height: 30%;
  width: 30%;
  position: absolute;
right: 2.5%;
top: 15%;
animation: picture 30s linear 0s forwards infinite;

}

.events {
  height: 40%;
  width: 40%;
  position: absolute;
  right: 2.5%;
  top: 50%;
  animation: events 30s linear 0s forwards infinite;

}
 .news {
   height: 60%;
   width: 50%;
   position: absolute;
   right: 45%;
   top: 30%;
   animation: news 30s linear 0s forwards infinite;

}

@keyframes picture {
  0% {
    height: 30%;
    width: 30%;
    position: absolute;
  right: 2.5%;
  top: 15%;
  }

  16.7% {
    height: 40%;
    width: 40%;
    position: absolute;
    right: 2.5%;
    top: 50%;
  }

  33.4% {
    height: 40%;
    width: 40%;
    position: absolute;
    right: 2.5%;
    top: 50%;
  }

  50.1% {
    height: 60%;
    width: 50%;
    position: absolute;
    right: 45%;
    top: 30%;
  }
  66.8% {
    height: 60%;
    width: 50%;
    position: absolute;
    right: 45%;
    top: 30%;
  }

  83.5% {
    height: 30%;
    width: 30%;
    position: absolute;
  right: 2.5%;
  top: 15%;
  }
  100% {
    height: 30%;
    width: 30%;
    position: absolute;
  right: 2.5%;
  top: 15%;
  }


}



@keyframes events {
0% {
  height: 40%;
  width: 40%;
  position: absolute;
  right: 2.5%;
  top: 50%;
}

    16.7% {height: 60%;
    width: 50%;
    position: absolute;
    right: 45%;
    top: 30%;
    z-index: 5;
}
33.4% {height: 60%;
width: 50%;
position: absolute;
right: 45%;
top: 30%;
z-index: 5;
}
50.1% {
  height: 30%;
  width: 30%;
  position: absolute;
right: 2.5%;
top: 15%;
}
66.8% {
  height: 30%;
  width: 30%;
  position: absolute;
right: 2.5%;
top: 15%;
}

83.5% {
  height: 40%;
  width: 40%;
  position: absolute;
  right: 2.5%;
  top: 50%;
}

100% {
  height: 40%;
  width: 40%;
  position: absolute;
  right: 2.5%;
  top: 50%;
}
}




@keyframes news {
0% {
  height: 60%;
  width: 50%;
  position: absolute;
  right: 45%;
  top: 30%;
  font-size: 2em;
}

    16.7% {height: 30%;
    width: 30%;
    position: absolute;
  right: 2.5%;
  top: 15%;
}
33.4% {height: 30%;
width: 30%;
position: absolute;
right: 2.5%;
top: 15%;
}

50.1% {
  height: 40%;
  width: 40%;
  position: absolute;
  right: 2.5%;
  top: 50%;
}
66.8% {
  height: 40%;
  width: 40%;
  position: absolute;
  right: 2.5%;
  top: 50%;
}

83.5% {
  height: 60%;
  width: 50%;
  position: absolute;
  right: 45%;
  top: 30%;
}

100% {
  height: 60%;
  width: 50%;
  position: absolute;
  right: 45%;
  top: 30%;
}
}

.mdl-card {
  background: #EEF4F6  ;
}

h1, h2 {
  color: #0B8EC8 ;
}

.mdl-card__supporting-text {
  color: #202529 ;
}

.logo {
  background: url(logo.png) center no-repeat;
  height: 160px;
  width: 300px;
  position: absolute;
  left: 2.5%;
  top: 0%;

}

.social-container {
  color: #fff;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 2.5%;
  opacity: .6;
  animation: social-ani 20s linear forwards infinite;
}

.social-container i {
  margin-right: 5px;
}

.two {
  left: 200%;
}
.rubyStuff-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.ruby-stuff {
  height: auto;
  width: 100%;
}

h3 {
  font-size: 1.5em;
}

@keyframes social-ani {
  from {transform: translateX(-100vw);}
to {  transform: translateX(100vw);}
}
